@media (min-width: 768px){
h1,h2,h3,h5{margin: 0;}

body{
    height: 100vh;
    margin: 0%;
}
header{
    position: fixed;
    background-image: url(/imagens/rm373batch2-08.jpg);
    width: 40%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    border-right: 5px solid rgb(7, 54, 81);
}
.profile  {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}
.profile img{
    border-radius: 100px;
    box-shadow:5px 5px 5px rgb(81, 174, 228);

}
aside h3{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 3px 3px 10px rgb(81, 174, 228);
    padding: 30px;
    
}
aside p{
   
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.know-me {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left:5vw ;
    list-style: none;
    background-image:url(/imagens/25328.jpg);
    background-position:top;
    background-size: cover;
    border-radius: 50px;
    box-shadow:1px 1px 5px rgb(254, 174, 246);
   
   
}
.main-content{
    color: white;
    height: 100;
    background-image: url(/imagens/blue-smooth-wall-textured-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50pX;
    margin-left: 40%;

}
section h2{
    display: flex;
    justify-content: center;
    
    background-image: linear-gradient(55deg, #ff105c 1%, #142da8 100%);

    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    font-family: sans-serif;
    font-size: 1.8em;
    border-radius: 100px;
    
}
.int-comp{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}
.int-comp li{
    justify-content: space-between;
}
li {
   
    text-shadow: 5px 5px 1px rgb(0, 0, 0);
    font-size: 1.5em;
}
}
@media (max-width:767px){
    body{
        width: 100;
        height: 100;
        margin: 0;
    }
    header{

        height: 60;
        background-image: url(/imagens/rm373batch2-08.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom: 5px solid  rgb(81, 174, 228);
    }
    .profile{
        display:flex;
        justify-content: center;
        padding-top: 5vh;
        
    }
    .profile img{
        width: 50%;
        border-radius: 90px;
        box-shadow:5px 5px 5px rgb(81, 174, 228);
    }
    aside h3 {
        
        text-align: center;
        color: white;
        font-size: 10vw;
        text-shadow: 3px 3px 3px rgb(81, 174, 228) ;
    }
    
    .know-me{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-left:5% ;
        list-style: none;
        background-image:url(/imagens/25328.jpg);
        background-position:top;
        background-size: cover;
        border-radius: 50px;
        box-shadow:1px 1px 5px rgb(254, 174, 246);

    }
    .main-content{
    color: white;
    height: 100%;
    background-image: url(/imagens/blue-smooth-wall-textured-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
   
    }
    section h2{
        display: flex;
        justify-content: center;
        background-image: linear-gradient(55deg, #ff105c 1%, #142da8 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        font-family: sans-serif;
        font-size: 1.4em;
        border-radius: 100px;
        
    }
    li {
   
        text-shadow: 5px 5px 1px rgb(0, 0, 0);
        font-size: 1.5em;
    }
}